# Data fetching
fredapi
pytrends
yfinance

# Storage / serialisation
pyarrow

# Database
duckdb

# Workflow orchestration
schedule

# Data processing
pandas
numpy
matplotlib
xgboost
scikit-learn
pyspark>=3.5.0


# Environment variables
python-dotenv

# Jupyter notebooks
jupyter
